<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="photoGal"
       providerName="Microsoft.Data.SqlClient"
       connectionString="Data Source=DESKTOP-SRHB4JP\SQLEXPRESS;Initial Catalog=PhotoGal;Integrated Security=True;Initial Catalog=PhotoGal;Persist Security Info=True;User ID=sa;Password=123456" />
  </connectionStrings>
  
</configuration>